color: rgb(255, 0, 0);     /* Red */

color: rgb(0, 255, 0);     /* Green */

color: rgb(0, 0, 255);     /* Blue */

color: rgb(255, 0, 0);     /* Red */

color: rgb(0, 255, 0);     /* Green */

color: rgb(0, 0, 255);     /* Blue */

#Green {
    color: green
  }
  
#Blue {
    color: blue;
  }
  
#Indigo {
    color: indigo;
  }